@font-face {
  font-family: Inter-VariableFont_slnt;
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf) format("truetype");
}

@font-face {
  font-family: Inter-Bold;
  src: url(./assets/fonts/static/Inter-Bold.ttf) format("truetype");
}
@font-face {
  font-family: Inter-ExtraBold;
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: Inter-Regular;
  src: url(./assets/fonts/static/Inter-Regular.ttf) format("truetype");
}

body {
  margin: 25px;
  position: relative;
}
main {
  flex: 1;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 50px;
}
.newhov {
  text-decoration: none;
  color: hsl(36, 100%, 99%);
}
.newhov :hover {
  color: hsl(35, 77%, 62%);
}
/* Updated the nav bar, set to horizontal position... */
.header_img {
  position: absolute;
}

.navbar {
  background-color: hsl(36, 100%, 99%);
  overflow: hidden;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex;  */
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* display: flex;  */
  text-align: right;
}
.nav-list li {
  /* margin-right: 20px; */
  margin-right: 0px;
  display: inline-block;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-list li a {
  display: block;
  color: hsl(236, 13%, 42%);
  text-decoration: none;
  padding: 10px 20px;
}

.nav-list li a:hover {
  /* background-color: whitesmoke; */
  color: hsl(5, 85%, 63%);
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}
.wrapper {
  /* margin: 50px; */
  margin-bottom: 50px;
  width: 100%;
}

.grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 18.75rem auto auto;
  gap: 30px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  overflow: clip;
}
.feature {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/3;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  gap: 1.875rem;
}
.feature__description a {
  margin-block-end: 1.875;
}

.feature__headline {
  flex: 1;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  word-wrap: break-word;
  max-width: 250px;
}
div {
  display: block;
  unicode-bidi: isolate;
  box-sizing: inherit;
}

.feature__description {
  margin-top: 20px;

  /*
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  margin-left: 260px;
  margin-top: 10px;
*/
}
.feature__image {
  display: flex;
  width: 100%;
  height: auto;
}
.feature__picture {
  grid-column: 1/3;
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-family: Inter-ExtraBold, Arial, Helvetica, sans-serif;
  line-height: 1.1;
}

.button {
  display: inline-block;
  background-color: hsl(5, 85%, 63%);
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
  letter-spacing: 4px;
  justify-self: start;
  font-family: Arial, Helvetica, sans-serif;
  align-self: flex-end;
  margin-top: 20px;
}
.button:hover {
  background-color: hsl(240, 100%, 5%);
}

.new {
  grid-column: 3/4;
  grid-row: 1/3;
  background-color: rgb(21, 12, 32);
  padding: 1.5rem;
}
.new_title {
  padding-bottom: 10px;
  color: hsl(35, 77%, 62%);
  font-family: Arial, Helvetica, sans-serif;
}
.new__post {
  color: rgb(236, 234, 234);
  padding-block-end: 40px;
  border-block-end: 1px solid rgba(255, 255, 255, 0.652);
  position: relative;
}

.parastyle {
  color: rgb(159, 154, 154);
}

.headline,
.headline2,
.headline3 {
  color: white;
  font-size: 20px;
  margin-top: 40px;
}
.headine p {
  color: aliceblue;
}

.blog {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/ -1;
  padding-block-start: 2.5rem;
  gap: 1.875rem;

  /*
  display: flex;
  gap: 30px;
  position: absolute;
  top: 100%;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;*/
}
.blog__item {
  display: grid;
  grid-template-columns: 6.25rem auto;
  grid-template-rows: repeat(3, auto);
  gap: 20px;
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
.blog__image {
  grid-row: 1 / 4;
}
.blog__number {
  line-height: 1;
  font-size: 40px;
  font-weight: 700;
  color: rgb(155, 149, 149);
  font-family: Arial, Helvetica, sans-serif;
}

.blog__headline {
  text-decoration: none;
  cursor: pointer;
}

.blog__headline:hover {
  color: hsl(5, 85%, 63%);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /*background-color: #333;*/
  color: hsl(36, 100%, 99%);
  text-align: center;
  padding: 20px 0;
  margin: 20px;
}

#openMenu,
#closeMenu {
  border: none;
  background-color: none;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display: none;
}

/* mobile small nav and small img in header default settings  */
.header_menu_icon {
  display: none;
  width: 40px;
}

#menu {
  display: none;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.mobile-navbar {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  text-align: right;
}
.mobile-nav-list ul {
  margin-right: 10px;
  display: block;
}
.mobile-nav-list li {
  text-align: left;
  margin-bottom: 10px;
}

.mobile-nav-list li:last-child {
  margin-right: 0;
}

.mobile-nav-list li a {
  display: block;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 20px;
}

.mobile-nav-list li a:hover {
  color: hsl(35, 77%, 62%);
}

.header_menu_icon_close {
  display: flex;
  width: 33px;
  height: 33px;
  float: right;
  text-align: right;
  padding-right: 20px;
  padding-top: 25px;
}

/* mobile small nav and small img in header default settings end  */

@media only screen and (max-width: 768px) {
  .grid {
    display: block;
    .button {
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 505px) {
  .feature {
    display: block;
  }
  .button {
    margin-bottom: 60px;
  }
  .feature__headline {
    max-width: none;
    font-size: 40px;
  }
  #openMenu,
  #closeMenu {
    display: block;
  }

  #closeMenu {
    position: fixed;
    right: 15px;
    top: 15px;
  }

  #openMenu {
    margin-left: auto;
    border-radius: 10%;
  }

  .navbar {
    display: none;
  }

  .nav-list {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    justify-content: center;
    margin: 0;
    display: none;
  }

  .feature__image {
    height: 150px;
  }

  .header_menu_icon {
    display: block;
    float: right;
    margin-bottom: 50px;
  }
  #overlay.active {
    display: block;
  }

  #menu.active {
    display: flex;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
    float: right;
    width: 68%;
    height: 800px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .menu_div {
    display: flex;
    justify-content: flex-end;
  }
  .test_div {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  .feature__headline {
    font-size: 30px;
  }
}
